<div class="container-fluid">
	<nav class="navbar bg-light justify-content-center flex-column fixed-bottom">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a class="nav-link fa-2x" id="nav_home" href="/home">
					<i class="fas fa-home"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link fa-2x" id="nav_calendar" href="/calendar">
					<i class="fas fa-calendar-day"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link fa-2x" id="nav_rules" href="/rules">
					<i class="fas fa-clipboard-list"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link fa-2x" id="nav_settings" href="/settings">
					<i class="fas fa-cog"></i>
				</a>
			</li>
		</ul>
		<!-- App name header -->
	</nav>
</div>