<div class="container-fluid">
    <nav class="navbar bg-light justify-content-center flex-column fixed-bottom">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" id="nav_home" href="/home">
                    <i class="material-icons md-48">home</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav_calendar" href="/calendar">
                    <i class="material-icons md-48">date_range</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav_rules" href="/rules">
                    <i class="material-icons md-48">assignment</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav_settings" href="/settings">
                    <i class="material-icons md-48">settings</i>
                </a>
            </li>
        </ul>
    </nav>
</div>