    <script type="text/javascript">
        $("#nav_home").addClass("active")

        var my_name = "{{name}}";

        // write all events to html as javascript variable
        // var events
        {{> load_events }}

        // write chore action pair to html as javascript dictionary
        var chore_action = {
		{{#each chores }}
        "{{chore}}": "{{action}}",
        {{/each}}
        };

        //get today's date

        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();

        date = yyyy + '-' + mm + '-' + dd;

        console.log(date);

        //construct updates html list

        var html_list = "";
        var who = "";
        var what = "";
        var event_count = 0
        for (var i = 0; i < events.length; i++) {
            // choose today's event
            var event = events[i];
            if (event["date"] == date) {
            	event_count += 1;
                html_list += '<ol class="list-group list-group-flush"><li class="list-group-item">';
                // chore
                if (event["category"] == "chore") {
                    if (event["name"] == my_name) {
                        who = "your";
                    } else {
                        who = event["name"] + "\'s";
                    }
                    what = chore_action[event["description"]];
                    html_list += "It is " + who + " turn to " + what + ".";
                }
                //reservation
                if (event["category"] == "reservation") {
                    if (event["name"] == my_name) {
                        who = "You have ";
                    } else {
                        who = event["name"] + " has ";
                    }
                    what = event["description"];
                    var whats = what.split(" ");
                    html_list += who + "reserved";
                    // add "from"
                    for (var j = 0; j < whats.length; j++) {
                        // add before the last part, time
                        if (j == whats.length - 1) {
                            html_list += " from";
                        }
                        html_list += " " + whats[j];
                    }
                    html_list += "."
                }
                html_list += '</li></ol>'
            }

        }
        if(event_count==0){
        	html_list += '<ol class="list-group list-group-flush"><li class="list-group-item">No updates today.</li></ol>';
        }
        //console.log(html_list);

        // write to the list
        $("#updates").html(html_list);


    </script>