<!doctype html>

<html>

<head>
	<title>Roommate App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/icons.css">
    
	<!-- Load an icon library -->
	<script src="https://kit.fontawesome.com/1caf25f8cc.js" crossorigin="anonymous"></script>
    <!-- Load Google Web Fonts/Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css">
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

	<!-- <link rel="stylesheet" href="./css/roommateapp.css"> -->
	<!-- this is a comment in HTML -->

<body>
	<div class="container" style="padding-bottom: 8rem;">
		<!-- Navbar -->
		<nav class="navbar bg-light justify-content-center">
			<h2>Reserve Appliance</h3>
		</nav>
        <!--/. Navbar -->
        
        <!-- FORM -->
        <form method="get" action="/addReservation" class="card bg-light mx-auto border-dark text-center justify-content-center" style="max-width: 35rem;">

            <!-- ROOMMATE OPTIONS -->
            <div class="form-group py-4 px-2">
                <label for="selectRoommate" class="mr-2"><h3>Roommate:</h3></label>

                <!-- OPTIONS -->
                <select class="custom-select custom-select-lg w-50" name="roommate" id="selectRoommate" required>
                    <option value="" disabled="" selected="">Select</option>
                    <option value="0">Jessie</option>
                    <option value="1">Yuhan</option>
                    <option value="2">Christine</option>
                </select>
            </div>

            <!-- APPLIANCE OPTIONS -->
            <div class="form-group pb-2 px-2">
                <label for="selectAppliance" class="mr-2"><h3>Appliance:</h3></label>

                <!-- OPTIONS -->
                <select class="custom-select custom-select-lg w-50" name="appliance" id="selectAppliance" required>
                    <option value="" disabled="" selected="">Select</option>
                    <option value="0">Stove</option>
                    <option value="1">TV</option>
                    <option value="2">Washer</option>
                    <option value="3">Dryer</option>
                </select>
            </div>

            <hr>

            <!-- DATE INPUT -->
            <div class="input-group px-4 py-4 col-sm-8 col-12 mx-auto">
                <label for="dateInput" class="mr-2"><h3>Date:</h3></label>
                <input type="date" class="form-control" id="dateInput" name="date" required>
            </div>
            
            <!-- TIME INPUT -->
            <div class="input-group px-4 pb-4 col-sm-8 col-12 mx-auto">
                <label for="timeInput" class="mr-2"><h3>Time:</h3></label>
                <input type="text" class="form-control" id="timeInput" name="time" placeholder="e.g. 4-5PM" required>
            </div>

            <!-- SUBMIT BUTTON -->
            <div class="pb-4 text-center">
                <input type="submit" class="btn btn-success btn-lg" value="Reserve">
            </div>
        </form>
        
	</div>

    <!-- NAVBAR -->
	<div class="container-fluid">
		<nav class="navbar bg-light fixed-bottom">
			<a class="nav-item nav-link fa-3x" href="/calendar">
				<i class="fas fa-chevron-left"></i>
				<i class="fas fa-calendar-day"></i>
			</a>
		</nav>
	</div>
</body>

</html>