<!doctype html>

<html>

<head>
	<title>Roommate App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<!-- Load an icon library -->
	<script src="https://kit.fontawesome.com/1caf25f8cc.js" crossorigin="anonymous"></script>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

	<!-- <link rel="stylesheet" href="./css/roommateapp.css"> -->
	<!-- this is a comment in HTML -->

<body>
	<div class="container">
		<!-- Navbar -->
		<nav class="navbar bg-light justify-content-center">
			<h3>The Roommate App</h3>
		</nav>
		<nav class="navbar bg-light justify-content-center flex-column fixed-bottom">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link" href="/home">
						<i class="fas fa-home"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/calendar">
						<i class="fas fa-calendar-day"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/rules">
						<i class="fas fa-clipboard-list"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/settings">
						<i class="fas fa-cog"></i>
					</a>
				</li>
			</ul>
			<!-- App name header -->
		</nav>
		<!--/. Navbar -->
		<br>
		<!-- Content -->
		<div class="text-center main-content">
	      	<h2>What Appliance?</h2>
	      	<div class="chore">
		      	<button type="button" class="btn btn-primary btn-lg btn-success" id="Stove">Stove</button>
		      	<button type="button" class="btn btn-primary btn-lg" id="TV">TV</button>
		      	<button type="button" class="btn btn-primary btn-lg" id="Washer">Washer</button>
		      	<button type="button" class="btn btn-primary btn-lg" id="Dryer">Dryer</button>
	        </div>
	        <br>
	      	<h2>Who?</h2>
	      	<div class="people">
		      	<button type="button" class="btn btn-primary btn-lg btn-success" id="Jessie">Jessie</button>
		      	<button type="button" class="btn btn-primary btn-lg" id="Christine">Christine</button>
		      	<button type="button" class="btn btn-primary btn-lg" id="Yuhan">Yuhan</button>
	      	</div>
	      	<br>
	      	<div class="dateform">
	      	<h2>Date?</h2>
	      	<input class="date" data-provide="datepicker" placeholder="Date" data-date-format="yyyy-mm-dd">
	      	<br>
	      	<input class="time" placeholder="Time, e.g. 4-5PM">
	      	</div>
	      	<br>
	      	<br>
	      	<div class="submit">
	      		<button type="button" class="btn btn-primary btn-lg">assign</button>
	      	</div>
		</div>
	</div>



	<script>
		var description = ""
		var name = ""
		var date= ""
		$(".main-content .chore .btn-primary").click(function(e){
			e.preventDefault();
			description = this.id;
			console.log("chore "+description)

			$(".main-content .chore .btn-success").removeClass("btn-success")

			this.classList.add("btn-success")
		});
		$(".main-content .people .btn-primary").click(function(e){
			e.preventDefault();
			name = this.id;
			console.log("name "+description)
			$(".main-content .people .btn-success").removeClass("btn-success")
			this.classList.add("btn-success")
		});

		$(".main-content .submit .btn-primary").click(function(e){
			e.preventDefault();
			date = $(".main-content .date").val()
			if (date==""){
				$(".dateform h2").css('color', 'red');
				this.classList.add("btn-danger")
				return
			}
			description = "Reserved " + description + " "+ $(".main-content .time").val()
			console.log("date "+date)
			this.classList.add("btn-success")
			color = ""
			if (name == "Jessie")
				color = "Purple";
			if (name == "Christine")
				color = "Blue";
			if (name == "Yuhan")
				color = "Red"
			window.location.href = '/addchore?color='+color+'&description='+description+'&date='+date;
		});



	</script>
</body>

</html>