<!doctype html>

<html>
<head>
	<title>Roommate App</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
 	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="./css/roommateapp.css">
	<link rel="stylesheet" href="./css/calendar.css">
	<!-- this is a comment in HTML -->      
</head>
<body>
	<aside class="mdc-drawer mdc-drawer--modal">
		<div class="mdc-drawer__header">
    	  <p class="mdc-drawer__title">Menu</p>
        </div>
	    <div class="mdc-drawer__content">
	      <div class="mdc-list">
	        <a class="mdc-list-item" href="/" aria-current="page">
	          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
	          <span class="mdc-list-item__text">Home</span>
	        </a>
	        <a class="mdc-list-item mdc-list-item--activated" href="/calendar">
	          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">calendar_today</i>
	          <span class="mdc-list-item__text">Calendar</span>
	        </a>
	        <a class="mdc-list-item" href="#">
	          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment</i>
	          <span class="mdc-list-item__text">House Rules</span>
	        </a>
	        <a class="mdc-list-item" href="#">
	          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">attach_money</i>
	          <span class="mdc-list-item__text">Finance</span>
	        </a>
	       	<a class="mdc-list-item" href="#">
	          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>
	          <span class="mdc-list-item__text">Settings</span>
	        </a>
	      </div>
	    </div>
  	</aside>
  	<div class="mdc-drawer-scrim"></div>
	<div class="mdc-drawer-app-content">
	    <header class="mdc-top-app-bar">
	      <div class="mdc-top-app-bar__row">
	        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
	          <a href="#" class="demo-menu mdc-icon-button material-icons mdc-top-app-bar__navigation-icon">menu</a>
	          <span class="mdc-top-app-bar__title">Roommate App</span>
	        </section>
	      </div>
	    </header>

	    <main class="main-content" id="main-content">
	      <div class="mdc-top-app-bar--fixed-adjust">
	      	<div id='fullDiv' >
			  <ul>
			    <li>SUN</li>
			    <li>MON</li>
			    <li>TUE</li>
			    <li>WED</li>
			    <li>THUR</li>
			    <li>FRI</li>
			    <li>SAT</li>
			    <li>1</li>
			    <li>2</li>
			    <li>3</li>
			    <li>4</li>
			    <li>5</li>
			    <li>6</li>
			    <li>7</li>
			    <li>8</li>
			    <li>9</li>
			    <li>10</li>
			    <li>11</li>
			    <li>12</li>
			    <li>13</li>
			    <li>14</li>
			    <li>15</li>
			    <li>16</li>
			    <li>17</li>
			    <li>18</li>
			    <li>19</li>
			    <li>20</li>
			    <li>21</li>
			    <li>22</li>
			    <li>23</li>
			    <li>24</li>
			    <li>25</li>
			    <li>26</li>
			    <li>27</li>
			    <li>28</li>
			    <li>29</li>
			    <li>30</li>
			    <li>31</li>
			    <li>1</li>
			    <li>2</li>
			    <li>3</li>
			    <li>4</li>
			  </ul>
			</div>
	      </div>
	    </main>
	</div>



	<script src="https://code.jquery.com/jquery.js"></script>
	<script>
		const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
		const topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.querySelector('.mdc-top-app-bar'));
		topAppBar.setScrollTarget(document.getElementById('main-content'));
		topAppBar.listen('MDCTopAppBar:nav', () => {
		  drawer.open = !drawer.open;
		});
		$('.mdc-list-item').click(function(e) {
            drawer.open = !drawer.open;
            });

		var winHeight = $(window).height();
		var height = ( winHeight * 16.6666 ) / 100;
		var lineHeight = height + "px";

		$("li").css("line-height", lineHeight);
		$("li").css("height", height);
	</script>



</body>
</html>