<!doctype html>

<html>

<head>
	<title>Roommate App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/calendar.css">

	<!-- Calendar CSS -->
	<link href='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css' rel='stylesheet' />
	<link href='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css' rel='stylesheet' />
	<link href='https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.css' rel='stylesheet' />
	<link href='https://unpkg.com/@fullcalendar/list@4.3.0/main.min.css' rel='stylesheet' />
	<link href='https://unpkg.com/@fullcalendar/bootstrap@4.3.0/main.min.css' rel='stylesheet' />

	<!-- Load an icon library -->
	<script src="https://kit.fontawesome.com/1caf25f8cc.js" crossorigin="anonymous"></script>

	<!-- Moment JS Plugin -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

	<!-- Load FullCalendar library-->
	<script src='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js'></script>
	<script src='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js'></script>
	<script src='https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js'></script>
	<script src='https://unpkg.com/@fullcalendar/list@4.3.0/main.min.js'></script>
	<script src='https://unpkg.com/@fullcalendar/bootstrap@4.3.0/main.min.js'></script>

	<!-- FullCalendar Script -->
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
			var calendarEl = document.getElementById('calendar');

			var calendar = new FullCalendar.Calendar(calendarEl, {
				plugins: ['dayGrid', 'timeGrid', 'list', 'bootstrap'],
				timeZone: 'UTC',
				themeSystem: 'bootstrap',
				eventLimit: true,
				height: 'auto',
				header: {
					left: 'today',
					center: 'title',
					right: 'prev,next'
				},
				footer: {
					left: 'custom1',
					center: '',
					right: 'custom2'
				},
				customButtons: {
					custom1: {
						text: 'Assign Chore',
						click: function () {
							window.location.href = '/chores';
						}
					},
					custom2: {
						text: 'Reserve Appliance',
						click: function () {
							window.location.href = '/appliance';
						}
					}
				},
				events: [
				{{#each calendar}} 
				{
					title: "{{description}}",
					start: "{{date}}",
					backgroundColor: "{{color}}"
				},
				{{/ each}}
			]
		});

		calendar.render();
		});
	</script>
	<!--/. calendar -->

	<!-- this is a comment in HTML -->

<body>
	<div class="container">
		<!-- Navbar -->
		<nav class="navbar bg-light justify-content-center mb-4">
			<h3>The Roommate App</h3>
		</nav>
		<!--/. Navbar -->
		<!-- Calendar -->
		<div id='calendar' style="padding-bottom: 1rem;"></div>
		<div class='legend' style="padding-bottom: 10rem;">
		  <ul class='legend-labels'>
		    <li><span style='background:blue;'></span>Christine</li>
		    <li><span style='background:purple;'></span>Jessie</li>
		    <li><span style='background:red;'></span>Yuhan</li>
		  </ul>
		</div>
	</div>
	<!-- Bottom Navbar -->
	{{> nav}}


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript">$("#nav_calendar").addClass("active")</script>
</body>

</html>