<!doctype html>

<html>

<head>
    <title>Roommate App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{> theme}}

    {{> abtest}}
    <!-- For clicks -->
    <script src="/js/abtest_home.js"></script>

<body>
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar bg-light justify-content-center">
            <h3>The Roommate App</h3>
        </nav>
        <!--/. Navbar -->
        <!-- Content -->
        <!-- Name -->
        <div class="media mb-4 mt-3 justify-content-center">
            <img src="/images/chess.jpg" alt="Profile Image" class="mr-2 rounded-circle" style="height:30px; width:30px;">
            <div class="">
                <h4>{{name}}</h4>
            </div>
        </div>
        <!-- Card Content -->
        <div class="text-center" style="padding-bottom: 6rem;">
            {{#if viewAlt}}
            <div class="mb-3">
                <button class="abtest btn btn-primary" id="chores">Assign Chore</button>
                <button class="abtest btn btn-primary" id="appliance">Reserve Appliance</button>
            </div>
            {{/if}}
            <div class="card bg-light mx-auto border-dark" style="max-width: 25rem;" id="">
                <div class="card-header">
                    Address
                </div>
                <div class="card-body">
                    <p>
                        {{addressline1}} <br>
                        {{addressline2}}
                    </p>
                </div>
            </div>

            <br>
            <!-- Render JSON File -->
            <div class="card bg-light mx-auto border-dark" style="max-width: 25rem;" id="">
                <div class="card-header">
                    Today's Updates
                </div>
                <div id="updates">
                    <!-- javascript will fill in here -->
                </div>
            </div>
            <br>
            <!-- render json -->
        </div>
    </div>
    <!-- Bottom Navbar -->
    {{> nav}}

    {{> todaysupdates}}

</body>

</html>