<!doctype html>

<html>

<head>
    <title>HCI Project Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->

    <!-- Container -->
    <div class="container">
        <!-- Card Component -->
        <div class="card">
            <!-- Card Header -->
            <div class="card-header">
                <h1>The Roommate App</h1>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <!-- Login Page Form -->
                <form>
                    <!-- Email input bar -->
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="text" class="form-control" id="inputEmail" placeholder="name@example.com">
                    </div>
                    <!-- Password input bar -->
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <!-- Login Button -->
                    <div class="form-group">
                        <a class="btn btn-primary" id="btn-login" href="/home">Login</a>
                    </div>
                </form>
            </div>
        </div>

        <!-- Add scripts here -->
        <script src="/js/jquery-1.11.0.js"></script>
        <script src="/js/bootstrap.js"></script>
    </div>
</body>

</html>