<!doctype html>

<html>

<head>
	<title>Roommate App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<!-- Load an icon library -->
	<script src="https://kit.fontawesome.com/1caf25f8cc.js" crossorigin="anonymous"></script>

	<!-- <link rel="stylesheet" href="./css/roommateapp.css"> -->
	<!-- this is a comment in HTML -->

<body>
	<div class="container">
		<!-- Navbar -->
		<nav class="navbar bg-light justify-content-center flex-column">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link" href="/home">
						<i class="fas fa-home"></i>
						Home
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/calendar">
						<i class="fas fa-calendar-day"></i>
						Calendar
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/rules">
						<i class="fas fa-clipboard-list"></i>
						House Rules
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/finance">
						<i class="fas fa-dollar-sign"></i>
						Finance
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/settings">
						<i class="fas fa-cog"></i>
						Settings
					</a>
				</li>
			</ul>
			<!-- App name header -->
			<nav class="navbar sticky-top">
				<h3>The Roommate App</h3>
			</nav>
		</nav>
		<!--/. Navbar -->

		<!-- content -->
		<div class="jumbotron text-center">
			<!-- Render JSON File -->
			<div class="card bg-light mx-auto text-left border-dark" style="max-width: 25rem;" id="">
				<div class="card-header">
					House Rules
				</div>
				<div class="card-body">
					<ol>
						{{#each rules}}
						<li class="list-group-item">{{description}}</li>
						{{/each}}Ï
					</ol>
				</div>
				<ul class="list-group list-group-flush">
					{{#each rules}}
					<li class="list-group-item">{{description}}</li>
					{{/each}}
				</ul>
			</div>
			<br>
			<!-- render json -->
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>