<!doctype html>

<html>

<head>
	<title>Roommate App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/icons.css">
	<!-- Load an icon library -->
	<script src="https://kit.fontawesome.com/1caf25f8cc.js" crossorigin="anonymous"></script>
    <!-- Load Google Web Fonts/Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- <link rel="stylesheet" href="./css/roommateapp.css"> -->
	<!-- this is a comment in HTML -->

<body>
	<div class="container">
		<!-- Navbar -->
		<nav class="navbar bg-light justify-content-center">
			<h3>The Roommate App</h3>
		</nav>
		<!--/. Navbar -->

		<!-- content -->
		<div class="jumbotron text-center" style="padding-bottom: 5rem;">
			<!-- Render JSON File -->
			<div class="card bg-light mx-auto border-dark" style="max-width: 25rem;" id="">
				<div class="card-header">
					House Rules
				</div>
                <!-- ATTEMPT -->
                <div class="card-body px-4">
                    <!-- ADD RULE -->
                    <form method="get" action="/addRule" class="input-group">
                        <input type="text" class="form-control" name="newRule" id="ruleInput" placeholder="Add a new rule..." required>
                        <button class="btn btn-primary btn-sm" type="submit" id="addRule">
                            <i class="material-icons">add</i>
                        </button>
                    </form>
                    <!-- RULES -->
                    {{#each rules}}
                    <div class="d-flex my-4 div-rule" id="{{@index}}">
                        <!-- DESCRIPTION-->
                        <div class="col text-left">
                            {{description}}
                        </div>
                        <!-- DELETE BUTTON -->
                        <div class="div-button">
                            <button class="btn btn-danger btn-sm btn-delete" type="button">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                    {{/each}}
                </div>
		</div>
	</div>
	<!-- Bottom Navbar -->
	{{> nav}}

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/js/rules.js"></script>
</body>

</html>