<!doctype html>

<html>

<head>
	<title>Roommate App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<!-- Load an icon library -->
	<script src="https://kit.fontawesome.com/1caf25f8cc.js" crossorigin="anonymous"></script>

	<!-- <link rel="stylesheet" href="./css/roommateapp.css"> -->
	<!-- this is a comment in HTML -->

<body>
	<div class="container">
		<!-- Navbar -->
		<nav class="navbar bg-light justify-content-center">
			<h3>The Roommate App</h3>
		</nav>
		<!--/. Navbar -->

		<!-- Content -->
		<div class="jumbotron">
			<h2>Settings</h2>
			<a class="nav-link" href="/">
				<i class="fas fa-sign-out-alt fa-lg"></i>
				Logout
			</a>
			<!-- render json -->
		</div>
	</div>
	<!-- Bottom Navbar -->
	<div class="container-fluid">
		<nav class="navbar bg-light justify-content-center flex-column fixed-bottom">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link fa-3x" href="/home">
						<i class="fas fa-home"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fa-3x" href="/calendar">
						<i class="fas fa-calendar-day"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fa-3x" href="/rules">
						<i class="fas fa-clipboard-list"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fa-3x active" href="/settings">
						<i class="fas fa-cog"></i>
					</a>
				</li>
			</ul>
			<!-- App name header -->
		</nav>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>